# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Binaries and build artifacts
hackers-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove if vendoring dependencies)
vendor/ 